# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/kometateam/kometa
  tag: v2.3.0@sha256:340e4176e1d75f04d2b55ce177326710f28770b5f56537fd539a034b143fe66d
  pullPolicy: IfNotPresent

service:
  main:
    enabled: false
    ports:
      main:
        enabled: false

kometa:
  run: false
  no_countdown: true
  time:
    - "00:00"
  # plex_url: ""
  # plex_token: ""

workload:
  main:
    podSpec:
      initContainers:
        create-init-config-file:
          enabled: true
          type: init
          imageSelector: "image"
          command:
            - /bin/sh
            - -c
          args:
            - |
              echo "Creating config.yml file..."
              if [ -f /config/config.yml ]; then
                echo "Config file exists! Skipping..."
              else
                echo "Config file is missing, getting a new one!"
                curl -fLvo /config/config.yml https://raw.githubusercontent.com/kometa-team/kometa/master/config/config.yml.template || (echo "Downloading config file, FAILED..." && exit 1)
              fi
      containers:
        main:
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          envFrom:
            - secretRef:
                name: "secret"

persistence:
  config:
    enabled: true
    mountPath: /config
    targetSelectAll: true
