# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/brandawg93/peanut
  tag: 5.22.0@sha256:14d71889539a5b050961ca69f20b3c9fd5fa5af439e388dff08ebbe32bf15c84
  pullPolicy: IfNotPresent
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    ports:
      main:
        port: 10688

persistence:
  config:
    enabled: true
    mountPath: "/config"
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            WEB_PORT: "{{ .Values.service.main.ports.main.port }}"
