# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/manyfold3d/manyfold
  tag: 0.132.1@sha256:21c9cf7ec4683026c75555c63b7e1275ef7318f8f705d16b9d6922049e7d1fcd
  pullPolicy: IfNotPresent
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    ports:
      main:
        protocol: http
        targetPort: 3214
        port: 3214
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            DATABASE_ADAPTER: postgresql
            DATABASE_HOST: "{{ .Values.cnpg.main.creds.host }}"
            DATABASE_NAME: "{{ .Values.cnpg.main.database }}"
            DATABASE_USER: "{{ .Values.cnpg.main.user }}"
            DATABASE_PASSWORD:
              secretKeyRef:
                name: cnpg-main-user
                key: password
            SECRET_KEY_BASE:
              secretKeyRef:
                name: manyfold-secrets
                key: SECRET_KEY_BASE
            REDIS_URL:
              secretKeyRef:
                expandObjectName: false
                name: '{{ printf "%s-%s" .Release.Name "rediscreds" }}'
                key: url
          probes:
            readiness:
              path: /health
            liveness:
              path: /health
            startup:
              path: /health
persistence:
  libraries:
    enabled: true
    mountPath: "/libraries"
cnpg:
  main:
    enabled: true
    user: manyfold
    database: manyfold
redis:
  enabled: true
