# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/benzino77/tasmocompiler
  tag: latest@sha256:23d2776eb2ad4656d194328bd18f403ff41b45a53f83f2112738cc770f08856c
  pullPolicy: IfNotPresent

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0

service:
  main:
    ports:
      main:
        port: 14003
        protocol: http
        targetPort: 3000
