# Default code owners
*                       @hey101
/charts/dev/            @hey101
/charts/unstable/       @hey101
/.github/CODEOWNERS     @hey101
/.github/scripts/       @hey101
/.github/workflows/     @hey101
/.github/renovate.json5 @hey101
