# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: docker.io/dlandon/zoneminder.unraid
  tag: latest@sha256:9b827d0542371f57ea39f4fc784c16cbffab16d9bfa2ec74c78eef920dd0d0df
persistence:
  varrun:
    enabled: false
  config:
    enabled: true
    mountPath: /config
  datapath:
    enabled: true
    mountPath: /var/cache/zoneminder

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    ports:
      main:
        port: 10292
        protocol: https
        targetPort: 443
  zmninja:
    enabled: true
    ports:
      zmninja:
        enabled: true
        port: 10293
        protocol: tcp
        targetPort: 9000
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              path: /zm
            readiness:
              path: /zm
            startup:
              path: /zm
