# yaml-language-server: $schema=./values.schema.json
image:
  repository: oci.trueforge.org/containerforge/calibre-web
  pullPolicy: IfNotPresent
  tag: "0.6.26@sha256:fac71c9e24bbcb9093d4bef5559e67600bab37bba3fed3f16bb7c4fa4bc10358"
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    ports:
      main:
        port: 8083
        protocol: http
        targetPort: 8083
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: http
              path: /
            readiness:
              type: http
              path: /
            startup:
              type: http
              path: /
          env: {}
persistence:
  config:
    enabled: true
    mountPath: /config
