# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/rssbridge/rss-bridge
  tag: 2025-08-05@sha256:569f01f3faecd0d34d702e01b34eb0a769f7bedb84caf6dff29821d18b46f971
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 10225
persistence:
  config:
    enabled: true
    mountPath: "/config"
  varrun:
    enabled: false

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            HTTP_PORT: "{{ .Values.service.main.ports.main.port }}"
