# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: docker.io/escaping/core-keeper-dedicated
  tag: latest@sha256:87fa7925596264e1460cb6c7c128e9d39ac5445206e04e587993b5d4afa7c90f
persistence:
  datafiles:
    enabled: true
    mountPath: /home/steam/core-keeper-data
  serverfiles:
    enabled: true
    mountPath: /home/steam/core-keeper-dedicated

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    enabled: false
    ports:
      main:
        enabled: false
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            DATA_PATH: ""
            GAME_ID: examplegameidwillgohere
            MAX_PLAYERS: "10"
            WORLD_INDEX: "0"
            WORLD_NAME: World name here
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
