# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/alexta69/metube
  tag: 2026.02.27@sha256:993402261882aa3d26b80085e8d4d5730e7de617231e274bf8c6667a86d21ba8
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 10216
        targetPort: 8081
persistence:
  config:
    enabled: true
    mountPath: /config
  downloads:
    enabled: true
    mountPath: /downloads

workload:
  main:
    podSpec:
      containers:
        main:
          env:
            STATE_DIR: /config
            DOWNLOAD_DIR: /downloads
            OUTPUT_TEMPLATE: "%(title)s.%(ext)s"
            YTDL_OPTIONS: "{}"
