# yaml-language-server: $schema=./values.schema.json
image:
  repository: public.ecr.aws/zinclabs/openobserve
  tag: v0.60.1@sha256:67d89e74868d6009d77f85a40127589340b4cbc5f4fcafd5d4606ddf5ba1aa2b
  pullPolicy: IfNotPresent

persistence:
  data:
    enabled: true
    mountPath: "/data"

workload:
  main:
    podSpec:
      containers:
        main:
          env:
            ZO_ROOT_USER_EMAIL: admin@example.com
            ZO_ROOT_USER_PASSWORD: changeme
            ZO_DATA_DIR: /data
            ZO_WEB_URL: "https://logs.example.com"
            ZO_TELEMETRY: "false"
          probes:
            liveness:
              path: "/healthz"
            readiness:
              path: "/healthz"
            startup:
              path: "/healthz"

service:
  main:
    ports:
      main:
        port: 5080
