# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: ghcr.io/m1k1o/neko/firefox
  tag: 3.0.10@sha256:2d7813bb098c97f3cb37239799a621c13a7b6e0e4e5b9692f93c2f4a2c5a2880
braveImage:
  pullPolicy: IfNotPresent
  repository: ghcr.io/m1k1o/neko/brave
  tag: 3.0.10@sha256:7c6d828cd1f85aba797129ffa8260a2fe8c7a3b94e7415cc9376e96045a7b57e
chromeImage:
  pullPolicy: IfNotPresent
  repository: ghcr.io/m1k1o/neko/google-chrome
  tag: 3.0.10@sha256:119c71f6e0940a1847b716ad4aaaa2d6e6e9bc7fe312665b83e7479f174012ea
chromiumImage:
  pullPolicy: IfNotPresent
  repository: ghcr.io/m1k1o/neko/chromium
  tag: 3.0.10@sha256:13264ee217ecccda06b07aa7543dc12d8f9a423ace344b6bda6ebf6d2ecea193
edgeImage:
  pullPolicy: IfNotPresent
  repository: ghcr.io/m1k1o/neko/microsoft-edge
  tag: 3.0.10@sha256:8a48c3c8d63a45d051d70d30df80a173415781c46a782e80ae38b9450d406054
remminaImage:
  pullPolicy: IfNotPresent
  repository: ghcr.io/m1k1o/neko/remmina
  tag: 3.0.10@sha256:7e1cde17c0f851c0af9f64c641703bc44b9355f5f0b0fdeb918a8438be0dd617
torImage:
  pullPolicy: IfNotPresent
  repository: ghcr.io/m1k1o/neko/tor-browser
  tag: 3.0.10@sha256:e22c8e060a18cfff8be7e2911fa951cff9c370714b4d40709f594bcfa55de9e7
vivaldiImage:
  pullPolicy: IfNotPresent
  repository: ghcr.io/m1k1o/neko/vivaldi
  tag: 3.0.7@sha256:da93c2c9612f2b8c3dc75955755a0091993ffcabd8177de70f7da47576e5229a
vlcImage:
  pullPolicy: IfNotPresent
  repository: ghcr.io/m1k1o/neko/vlc
  tag: 3.0.10@sha256:ffbc3d018998350a1d0c79cba28884ca0abedc9479227ac15b10036b81eb83c3
xfceImage:
  pullPolicy: IfNotPresent
  repository: ghcr.io/m1k1o/neko/xfce
  tag: 3.0.10@sha256:a9f01d750de388d7655d183307c0becea0f11367dab6a9c729ec7532b5e33dc0

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0

service:
  main:
    ports:
      main:
        port: 10294
        protocol: http
  mux:
    enabled: true
    ports:
      tcp:
        enabled: true
        port: 52100
        protocol: tcp
      udp:
        enabled: true
        port: "{{ .Values.service.mux.ports.tcp.port }}"
        protocol: udp

neko:
  ip: "0.0.0.0"
  auth:
    user_pass: ""
    admin_pass: ""
  proxy: false
  screen: "1920x1080@30"
  control_protection: false
  implicit_control: false
  locks:
    []
    # - control
    # - login
    # - file_transfer
  cors:
    - "*"

workload:
  main:
    podSpec:
      containers:
        main:
          imageSelector: image
          env:
            NEKO_BIND: '{{ printf ":%v" .Values.service.main.ports.main.port }}'
            NEKO_PATH_PREFIX: "/"
            NEKO_NAT1TO1: "{{ .Values.neko.ip }}"
            # NEKO_EPR
            NEKO_TCPMUX: "{{ .Values.service.mux.ports.tcp.port }}"
            NEKO_UDPMUX: "{{ .Values.service.mux.ports.tcp.port }}"
            NEKO_FILE_TRANSFER_ENABLED: true
            NEKO_FILE_TRANSFER_PATH: "{{.Values.persistence.downloads.mountPath }}"
            NEKO_CONTROL_PROTECTION: "{{ .Values.neko.control_protection }}"
            NEKO_IMPLICIT_CONTROL: "{{ .Values.neko.implicit_control }}"
            NEKO_LOCKS: '{{ join " " .Values.neko.locks }}'
            NEKO_PASSWORD: "{{ .Values.neko.auth.user_pass }}"
            NEKO_PASSWORD_ADMIN: "{{ .Values.neko.auth.admin_pass }}"
            NEKO_PROXY: "{{ .Values.neko.proxy }}"
            NEKO_SCREEN: "{{ .Values.neko.screen }}"
            NEKO_CORS: '{{ join " " .Values.neko.cors }}'
            # NEKO_NAT1TO1: ""
            # NEKO_IPFETCH: ""
            # NEKO_ICELITE: false
            # NEKO_ICESERVER: ""
            # NEKO_ICESERVERS

persistence:
  downloads:
    enabled: true
    mountPath: /home/neko/Downloads
