# yaml-language-server: $schema=./values.schema.json
image:
  repository: oci.trueforge.org/containerforge/lazylibrarian
  pullPolicy: IfNotPresent
  tag: 7.0.0@sha256:e39b4699980ab971da4b161266f17e347b91652459a56faea7992cf5eb40b380
service:
  main:
    ports:
      main:
        port: 5299
        targetPort: 5299
persistence:
  config:
    enabled: true
    mountPath: "/config"
  varrun:
    enabled: true

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
