# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: ghcr.io/miniflux/miniflux
  tag: 2.2.17@sha256:802ab7d045826d047883476e2310bf59f5d9b3875f7a8106fa0c43638d01fd64
persistence:
  config:
    enabled: true
    mountPath: /config

cnpg:
  main:
    enabled: true
    database: miniflux
    user: miniflux
service:
  main:
    ports:
      main:
        port: 10091
        targetPort: 8080
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            CREATE_ADMIN: 1
            DATABASE_URL:
              secretKeyRef:
                name: cnpg-main-urls
                key: std
            RUN_MIGRATIONS: 1
            ADMIN_PASSWORD: changeme
            ADMIN_USERNAME: admin
          probes:
            liveness:
              custom: true
              enabled: true
              spec:
                failureThreshold: 3
                httpGet:
                  path: /healthcheck
                  port: 8080
                initialDelaySeconds: 30
                periodSeconds: 10
                timeoutSeconds: 1
