# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/jorenn92/maintainerr
  pullPolicy: IfNotPresent
  tag: 2.27.0@sha256:4d07ffaf673f7703bcead8e67f2a9f4fbd5e6bb4d43e4c7c8f81bb45844c8e1b

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0

service:
  main:
    ports:
      main:
        protocol: http
        targetPort: 6246
        port: 6246

persistence:
  data:
    enabled: true
    mountPath: "/opt/data"
