# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/nodered/node-red
  pullPolicy: IfNotPresent
  tag: 4.1.6@sha256:330d65c5d9c203df1fc4db8dc7a67cf15c3b3982c85d0f7e0f1aa90dbb8b43f9
service:
  main:
    ports:
      main:
        port: 1880
        targetPort: 1880
persistence:
  data:
    enabled: true
    mountPath: "/data"

workload:
  main:
    podSpec:
      containers:
        main:
          env: {}
