# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/aeonlucid/impostor
  tag: nightly@sha256:f6aa71bb21a3c80f385561b571f4b114fd21792644a9d2e44a607be5b0e43fd6
  pullPolicy: IfNotPresent
