# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/linuxserver/grocy
  tag: 4.5.0@sha256:aeb5cae9c69bf528f43c7917b5e69ec6ccc6b90a5261a335c9690a4b185e8940
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 10013
        targetPort: 80
persistence:
  config:
    enabled: true
    mountPath: "/config"

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
