# yaml-language-server: $schema=./values.schema.json
image:
  repository: oci.trueforge.org/containerforge/kavita
  pullPolicy: IfNotPresent
  tag: "0.8.8.3@sha256:d42498cecdc8ab711b9e341703ecf61b200dd8b4a088e648f967b7416f361ccf"
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    ports:
      main:
        targetPort: 5000
        port: 10189
persistence:
  config:
    enabled: true
    mountPath: "/config"
  manga:
    enabled: true
    mountPath: "/manga"
  tmp:
    enabled: false
