# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: docker.io/farmos/farmos
  tag: latest@sha256:ea1cffa81d4c3d19f685daa2d93ebd0b88472d001ec78f2156aacd65e921353a
persistence:
  sitesdirectory:
    enabled: true
    mountPath: /var/www/html/sites

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    ports:
      main:
        port: 80
        protocol: tcp
        targetPort: 80
