# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/linuxserver/tvheadend
  pullPolicy: IfNotPresent
  tag: latest@sha256:0a8f99223fb87bc1298d8be8d67f2945ee6ec4b2f5e91d20bea18f6ee3ff4668
service:
  main:
    ports:
      main:
        port: 9981
        targetPort: 9981
  htsp:
    enabled: true
    ports:
      htsp:
        enabled: true
        port: 9982
        targetPort: 9982
persistence:
  config:
    enabled: true
    mountPath: "/config"
  varrun:
    enabled: true

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: tcp
              port: "{{ .Values.service.main.ports.main.port }}"
            readiness:
              type: tcp
              port: "{{ .Values.service.main.ports.main.port }}"
            startup:
              type: tcp
              port: "{{ .Values.service.main.ports.main.port }}"
          env:
            RUN_OPTS: ""
