# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: ghcr.io/ich777/thunderbird
  tag: latest@sha256:1974e9359349d67211278b092050fc41f0887a997bb662681075a19e26d66204
persistence:
  data:
    enabled: true
    mountPath: /thunderbird

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    ports:
      main:
        port: 10291
        targetPort: 8080
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            CUSTOM_RES_H: "768"
            CUSTOM_RES_W: "1280"
            DATA_PERM: "770"
            THUNDERBIRD_LANG: en-US
            THUNDERBIRD_V: latest
