# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/linuxserver/rsnapshot
  pullPolicy: IfNotPresent
  tag: 1.4.5@sha256:67894ed058b224daebeeb6ee279b127efe319958b1eece579b9591eb5a443375
service:
  main:
    enabled: false
    ports:
      main:
        enabled: false
persistence:
  varrun:
    enabled: true
  config:
    enabled: true
    mountPath: "/config"

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
