# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker
  pullPolicy: IfNotPresent
  tag: 29.2.1-dind@sha256:68f6d9ab84623d1116c5432a3b924a07ee09960e6129ca1cb03ef14010588cb4
hostNetwork: true
securityContext:
  container:
    privileged: true
    readOnlyRootFilesystem: false
    allowPrivilegeEscalation: true
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
service:
  main:
    enabled: true
    type: ClusterIP
    ports:
      main:
        port: 2376
        type: https
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              initialDelaySeconds: 30
              type: tcp
            readiness:
              initialDelaySeconds: 30
              type: tcp
            startup:
              initialDelaySeconds: 30
              type: tcp
          env:
            DOCKER_TLS_CERTDIR: /certs
    type: StatefulSet
    replicas: 1
    strategy: RollingUpdate
persistence:
  docker-certs-ca:
    enabled: true
    mountPath: /config
volumeClaimTemplates:
  docker-certs-client:
    enabled: true
    mountPath: /certs/client
  docker:
    enabled: true
    mountPath: /var/lib/docker
