# yaml-language-server: $schema=./values.schema.json
image:
  repository: oci.trueforge.org/containerforge/foldingathome
  pullPolicy: IfNotPresent
  tag: "8.4.9@sha256:f3ed4f2f59dbd6a11f68ba47b6a72998d25815e8522444d94d2ef4593bb0ce53"
securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: http
              path: /
            readiness:
              type: http
              path: /
            startup:
              type: http
              path: /
          env: {}
service:
  main:
    ports:
      main:
        targetPort: 7396
        port: 7396
  control:
    enabled: true
    ports:
      control:
        enabled: true
        targetPort: 36330
        port: 36330
persistence:
  config:
    enabled: true
    mountPath: /config
  varrun:
    enabled: true
