# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: seaduboi/broadcast-box
  tag: latest@sha256:3073a954ffeaa72937f93ef7104ad7d14dfa8b05c50dc3cedae2d0fbea1eb410
service:
  main:
    ports:
      main:
        port: 8080
        protocol: http
        targetPort: 8080
      webrtc:
        enabled: true
        port: 60006
        protocol: udp
        targetPort: 60006
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            NETWORK_TEST_ON_START: false
            INCLUDE_PUBLIC_IP_IN_NAT_1_TO_1_IP: true
            UDP_MUX_PORT: "{{ .Values.service.main.ports.webrtc.port }}"
