# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2026.2.1@sha256:44aacf3902c1c2e18dddfe8585dd44badbf56a0a768c773a5e0bcfe4bc1d0443
  pullPolicy: Always
j21Image:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2026.2.1-java21@sha256:115f666dac309116d0921549a935f02c2f8e9114282590ad77423ac357319992
  pullPolicy: Always
j21graalvmImage:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2026.1.0-java21-graalvm@sha256:edd7b66781574ebb67c66f96635d7d1aa733f2886f6589fa4c4c1d8fdca96aac
  pullPolicy: Always
j21alpineImage:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2026.2.1-java21-alpine@sha256:82adaddfe0156f07c34228f1c1065cdbd298abc174de0a9961abb068b11beebb
  pullPolicy: Always
j17Image:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2026.2.1-java17@sha256:4bdd8acc8c8bf30592560f4d97fd7c71b06d1fb514d28dd7c3b4a6d2807a715f
  pullPolicy: Always
j17jdkImage:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2024.6.1-java17-jdk@sha256:2c43fcede436aff9f50b1adf4448d55d221651be471ef41412232c141bfa89f6
  pullPolicy: Always
j17graalvmImage:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2026.1.0-java17-graalvm@sha256:81c049a55a0fb89162d8c0378f530278922786d253cf4259697c6ef9277f2a00
  pullPolicy: Always
j17alpineImage:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2025.10.5-java17-alpine@sha256:ecc762c91690d3f5fbfd1051aa07f173025dcaccfbf201984ddf395c21a5264f
  pullPolicy: Always
j11Image:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2026.2.1-java11@sha256:8a8402fad8d67fd1c098544b92b5c290dd986e2d0e4b72acd56cad5e12f61880
  pullPolicy: Always
j8Image:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2026.2.1-java8@sha256:b98942c4ae0b14fc02b2129ae4da36ebf67b29fdc4230569fd6f80d6b1302baa
  pullPolicy: Always
j8graalvmImage:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2026.1.3-java8-graalvm-ce@sha256:d758662bcc18a34c3e0c9c24370b95b87fa2a94c0540ca3bb0fd82114c9dfe61
  pullPolicy: Always
j8jdkImage:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2026.2.1-java8-jdk@sha256:65b4096786d3bb862827d80e9bdbf8134a68d4c9c0a55d14da8573196c22e1d7
  pullPolicy: Always
j8alpineImage:
  repository: ghcr.io/itzg/minecraft-server
  tag: 2024.9.0-java8-alpine@sha256:ee8505b9670a82b7703ec35b2a87fe9b7f7823b50ae50fad18bf1fe511e577f9
  pullPolicy: Always
mcBackupImage:
  repository: docker.io/itzg/mc-backup
  tag: latest@sha256:bdfe8e90c70e8901e696464c436aace2c111d61300309e65c4cff1e86d3f1ed4
  pullPolicy: Always

service:
  main:
    enabled: true
    ports:
      main:
        enabled: true
        protocol: tcp
        port: 25565
      query:
        enabled: true
        protocol: udp
        port: 25565
  rcon:
    enabled: true
    ports:
      rcon:
        enabled: true
        port: 25575

mcbackup:
  zstd_params:
    - --long=25
    - --single-thread
  # comma separated list
  excludes:
    - "*.jar"
    - "cache"
    - "logs"
    - "*.tmp"

workload:
  main:
    podSpec:
      containers:
        main:
          imageSelector: image
          probes:
            liveness:
              enabled: true
              type: exec
              command:
                - mc-health
            readiness:
              enabled: true
              type: exec
              command:
                - mc-health
            startup:
              enabled: true
              type: exec
              command:
                - mc-health
          env:
            SERVER_PORT: "{{ .Values.service.main.ports.main.port }}"
            QUERY_PORT: "{{ .Values.service.main.ports.query.port }}"
            RCON_PORT: "{{ .Values.service.rcon.ports.rcon.port }}"
            ENABLE_QUERY: "true"
            EULA: "TRUE"
            GUI: "FALSE"
            OVERRIDE_SERVER_PROPERTIES: true
            VERSION: "LATEST"
            TYPE: "VANILLA"
            DIFFICULTY: easy
            MAX_PLAYERS: 20
            MAX_WORLD_SIZE: 10000
            ALLOW_NETHER: true
            ANNOUNCE_PLAYER_ACHIEVEMENTS: true
            ENABLE_COMMAND_BLOCK: false
            FORCE_GAMEMODE: false
            GENERATE_STRUCTURES: true
            HARDCORE: false
            MAX_BUILD_HEIGHT: 256
            MAX_TICK_TIME: 60000
            SPAWN_ANIMALS: true
            SPAWN_MONSTERS: true
            SPAWN_NPCS: true
            VIEW_DISTANCE: 16
            MODE: survival
            MOTD: "Welcome to Minecraft on TrueNAS Scale!"
            PVP: false
            LEVEL_TYPE: DEFAULT
            LEVEL: world
            ONLINE_MODE: true
            MEMORY: 2048M
            RCON_PASSWORD: "secretrconpass"
            # PACKWIZ_URL: ""
            # CUSTOM_SERVER: ""
            # QUILT_LOADER_VERSION: ""
            # QUILT_LAUNCHER: ""
            # QUILT_LAUNCHER_URL: ""
            # PUFFERFISH_BUILD: "lastSuccessfulBuild"
            # FORGEVERSION: ""
            # FORGE_INSTALLER: ""
            # FORGE_INSTALLER_URL: ""
            # FABRIC_LOADER_VERSION: ""
            # FABRIC_INSTALLER: ""
            # FABRIC_INSTALLER_URL: ""
            # SPIGOT_DOWNLOAD_URL: ""
            # BUILD_FROM_SOURCE: false
            # BUKKIT_DOWNLOAD_URL: ""
            # PAPERBUILD: ""
            # PAPER_DOWNLOAD_URL: ""
            # AIRPLANE_BUILD: "lastSuccessfulBuild"
            # MAGMA_CHANNEL: "stable"
            # MOHIST_BUILD: ""
            # CANYON_BUILD: ""
            # SPONGEBRANCH: "STABLE"
            # SPONGEVERSION: ""
            # LIMBO_BUILD: "LATEST"
            # LIMBO_SCHEMA_FILENAME: "default.schem"
            # CRUCIBLE_RELEASE: "latest"
            # FTB_MODPACK_ID: ""
            # FTB_MODPACK_VERSION_ID: ""
            # CF_SERVER_MOD: ""
            # CF_BASE_DIR: ""
            # USE_MODPACK_START_SCRIPT: true
            # FTB_LEGACYJAVAFIXER: false
            # WHITELIST: ""
            # OPS: ""
            # ICON: ""
            # SEED: ""
            # GENERATOR_SETTINGS: ""
            # WORLD: ""
            # FORCE_REDOWNLOAD: false
            # USE_FLARE_FLAGS: false
            # USE_AIKAR_FLAGS: true
            # USE_SIMD_FLAGS: false
            # JVM_OPTS: ""
            # JVM_XX_OPTS: ""
            # CF_API_KEY
            # CF_PAGE_URL
            # CF_SLUG
            # CF_EXCLUDE_INCLUDE_FILE
            # CF_EXCLUDE_MODS
            # CF_FORCE_INCLUDE_MODS
            # CF_FORCE_SYNCHRONIZE
            # CF_OVERRIDES_SKIP_EXISTING
            # CF_PARALLEL_DOWNLOADS
            # CF_SET_LEVEL_FROM
        mcbackup:
          enabled: true
          imageSelector: mcBackupImage
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          env:
            BACKUP_METHOD: "tar"
            DEST_DIR: "{{.Values.persistence.backups.mountPath }}"
            SRC_DIR: "{{.Values.persistence.data.mountPath }}"
            SERVER_PORT: "{{ .Values.service.main.ports.main.port }}"
            RCON_HOST: '{{ printf "%s-rcon" (include "tc.v1.common.lib.chart.names.fullname" $) }}'
            RCON_PORT: "{{ .Values.service.rcon.ports.rcon.port }}"
            RCON_PASSWORD: "{{ .Values.workload.main.podSpec.containers.main.env.RCON_PASSWORD }}"
            SERVER_HOST: '{{ include "tc.v1.common.lib.chart.names.fullname" $ }}'

            ZSTD_PARAMETERS: '{{ join " " .Values.mcbackup.zstd_params }}'
            EXCLUDES: '{{ join "," .Values.mcbackup.excludes }}'

            INITIAL_DELAY: "2m"
            BACKUP_INTERVAL: "24h"
            PRUNE_BACKUPS_DAYS: "7"
            PAUSE_IF_NO_PLAYERS: "false"
            PLAYERS_ONLINE_CHECK_INTERVAL: "5m"
            LINK_LATEST: "false"
            TAR_COMPRESS_METHOD: "zstd"

persistence:
  data:
    enabled: true
    targetSelector:
      main:
        main:
          mountPath: /data
        mcbackup:
          mountPath: /data
          readOnly: true
  backups:
    enabled: true
    targetSelector:
      main:
        mcbackup:
          mountPath: /backups
