# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/difegue/lanraragi
  tag: v.0.9.60@sha256:985566a301ab40834dca01c23d240bc88bb850b7e1f2cce30b535744b993210d
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 10177
        targetPort: 3000
persistence:
  config:
    enabled: true
    mountPath: "/home/koyomi/lanraragi/database"
  content:
    enabled: true
    mountPath: "/home/koyomi/lanraragi/content"

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            LRR_UID: "{{ .Values.securityContext.container.PUID }}"
            LRR_GID: "{{ .Values.securityContext.pod.fsGroup }}"
