# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: chronograf
  tag: latest@sha256:58c6dc85e4e52acbb13d89d21dadf6097d35e4b29469392af730f6aa6b260810
persistence:
  chronograf:
    enabled: true
    mountPath: /var/lib/chronograf

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    ports:
      main:
        port: 8888
        protocol: tcp
        targetPort: 8888
