# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/blakeblackshear/frigate
  pullPolicy: IfNotPresent
  tag: 0.17.0@sha256:5be5ce3b79f8b09a52957afea9d4a23ad62c9f077a05d9047e3404eb78c304a8
tensorrtImage:
  repository: ghcr.io/blakeblackshear/frigate
  pullPolicy: IfNotPresent
  tag: 0.17.0-tensorrt@sha256:ff5c5e062582a1263fb1639563f2d2af555551084ab09a30769cbcf36a759ad9

# When this is defined, the contents will be mounted
# as configmap into the container at /config/config.yml.
frigateConfig: {}
# -- https://docs.frigate.video/configuration/
# mqtt:
#   enabled: False
# cameras:
#   dummy:
#     enabled: False
#     ffmpeg:
#       inputs:
#         - path: rtsp://127.0.0.1:554/rtsp
#           roles:
#             - detect

workload:
  main:
    podSpec:
      initContainers:
        init-config:
          enabled: "{{ not .Values.frigateConfig }}"
          type: init
          imageSelector: ubuntuImage
          command:
            - /bin/sh
            - -c
            - |
              mkdir -p /config
              if [ ! -f /config/config.yml ]; then
                echo "Config file not found, copying dummy..."
                cp /dummy-config/config.yml /config/config.yml
                echo "Config file copied, you can now edit it at /config/config.yml"
              else
                echo "Config file found, you can edit it at /config/config.yml"
              fi

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0

service:
  main:
    ports:
      main:
        port: 10500
        protocol: http
        targetPort: 5000
  rtmp:
    enabled: true
    ports:
      rtmp:
        enabled: true
        port: 1935
        targetPort: 1935
  rtsp:
    enabled: true
    ports:
      rtsp:
        enabled: true
        port: 8554
        targetPort: 8554
  webrtc:
    enabled: true
    ports:
      webrtc-tcp:
        enabled: true
        port: 8555
        targetPort: 8555
      webrtc-udp:
        enabled: true
        port: 8555
        protocol: udp
        targetPort: 8555

persistence:
  media:
    enabled: true
    mountPath: /media
  config:
    enabled: true
    mountPath: /config
    targetSelector:
      main:
        main: {}
        init-config: {}
