# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/ipfs/kubo
  pullPolicy: IfNotPresent
  tag: v0.40.1@sha256:9c70a3dba0b5f362bf99317a02384a194f5c91cf5388abdb8fe7d64d83dd20bb
service:
  main:
    ports:
      main:
        port: 10125
        targetPort: 5001
  peer-tcp:
    enabled: true
    ports:
      peer-tcp:
        enabled: true
        targetPort: 4001
        port: 4001
  peer-udp:
    enabled: true
    ports:
      peer-udp:
        protocol: udp
        enabled: true
        targetPort: 4001
        port: 4001
  gateway:
    enabled: true
    type: ClusterIP
    ports:
      gateway:
        enabled: true
        targetPort: 8080
        port: 10147
persistence:
  data:
    enabled: true
    mountPath: "/data/ipfs"
  staging:
    enabled: true
    mountPath: "/export"
  ipfs:
    enabled: true
    mountPath: "/ipfs"
  ipns:
    enabled: true
    mountPath: "/ipns"

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              path: "/webui"
            readiness:
              path: "/webui"
            startup:
              path: "/webui"
          env:
            IPFS_PROFILE: "server"
            IPFS_SWARM_KEY: ""
            IPFS_SWARM_KEY_FILE: ""
