# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: docker.io/redislabs/redisinsight
  tag: 3.0.3@sha256:4455c3304eafe1311d0a367022bad41520e307138b7272e1c0c308ce781f7162
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    ports:
      main:
        protocol: http
        port: 10579
redisinsight:
  log_level: info
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            RI_APP_PORT: "{{ .Values.service.main.ports.main.port }}"
            RI_FILES_LOGGER: /logs
            RI_LOG_LEVEL: "{{ .Values.redisinsight.log_level }}"
persistence:
  config:
    enabled: true
    mountPath: /data
  logs:
    enabled: true
    mountPath: /logs
