# yaml-language-server: $schema=./values.schema.json
image:
  repository: public.ecr.aws/docker/library/xwiki
  tag: 18.1.0-postgres-tomcat@sha256:d439c7ffd0753b62ef19e76ba6ec8cbd6a4b40d35df38c4dc15a6456740a704c
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 10208
        targetPort: 8080
persistence:
  config:
    enabled: true
    mountPath: "/usr/local/xwiki"
cnpg:
  main:
    enabled: true
    user: xwiki
    database: xwiki

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            DB_USER: "{{ .Values.cnpg.main.user }}"
            DB_DATABASE: "{{ .Values.cnpg.main.database }}"
            # User Defined
            JAVA_OPTS: ""
            DB_HOST:
              secretKeyRef:
                name: cnpg-main-urls
                key: host
            DB_PASSWORD:
              secretKeyRef:
                name: cnpg-main-user
                key: password
