# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/tinymediamanager/tinymediamanager
  tag: 5.2.7@sha256:0128827b9025a72e3bdc6f8cab41cb18a765d4795b6575565970c3a51cea3f90
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 10179
        targetPort: 4000
persistence:
  data:
    enabled: true
    mountPath: "/data"
  movies:
    enabled: true
    mountPath: "/media/movies"
  tvshows:
    enabled: true
    mountPath: "/media/tvshows"

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            PASSWORD: ""
