# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/linuxserver/smokeping
  pullPolicy: IfNotPresent
  tag: 2.9.0@sha256:77edcfddd54236e879a514665cdcdaa60513ee262d914ceafb24a076118209df
strategy:
  type: Recreate
service:
  main:
    ports:
      main:
        port: 10030
        targetPort: 80
persistence:
  config:
    enabled: true
    mountPath: "/config"
  data:
    enabled: true
    mountPath: "/data"
  varrun:
    enabled: false

securityContext:
  container:
    capabilities:
      add:
        - NET_RAW
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    allowPrivilegeEscalation: true
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: tcp
            readiness:
              type: tcp
            startup:
              type: tcp
