# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/josh5/unmanic
  tag: 0.4.0@sha256:018165a8d80f1ec53a29a71063e322eacd8323fc0cbe0e57baf34ed5deb5b384
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 10157
        targetPort: 8888
configmap:
  patch:
    enabled: true
    data:
      10-patch.sh: |
        chmod +x /etc/cont-init.d/20-config
        chmod +x /etc/cont-init.d/30-patch-nvidia
        chmod +x /etc/cont-init.d/60-custom-setup-script
        chmod +x /etc/services.d/unmanic/run
persistence:
  config:
    enabled: true
    mountPath: "/config"
  library:
    enabled: true
    mountPath: "/library"
  remote:
    enabled: true
    mountPath: "/tmp/unmanic/remote_library"
  cache:
    enabled: true
    mountPath: "/tmp/unmanic"
    type: emptyDir
  varrun:
    enabled: false
  patch:
    enabled: true
    type: configmap
    objectName: patch
    mountPath: /etc/cont-init.d/10-patch.sh
    subPath: 10-patch.sh
    readOnly: true
    defaultMode: "0755"

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
